.maintop {
    background: #000000;
    padding: 10px 0px;
}

.containerFluid {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
}

.rightInfoBox {
    float: left;
    padding-left: 10px;
    p {
        padding: 0px 20px;
        padding-left: 10px;
        display: inline;
        margin: 0px;
        color: #ffffff;
        font-size: 14px;
        line-height: 30px;
    }
}

.loginBox {
    float: right;
    width: 100%;
    padding-right: 10px;
}

.disable {
    text-align: left;
    width: 100%;
    display: flex;
    display: none;
}

.active {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    width: 40%;
    font-size: 16px;
}

.active p:hover {
    cursor: pointer;
    text-decoration: underline;
}