.CartBoxMain {
    padding: 70px 0px;
}

.Container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    // font-family: 'Dosis', sans-serif;
}

.CheckoutAddress {}

.TitleLeft {
    font-size: 16px;
    border-bottom: 3px solid #000000;
    margin-bottom: 20px;
    h3 {
        font-weight: 700;
        font-size: 18px;
    }
}

form {
    display: block;
    margin-top: 0em;
}

.FormControl {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.InvalidFeedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.NeedsValidation {
    .FormControl {
        min-height: 40px;
        border-radius: 0px;
        border: 1px solid #e8e8e8;
        box-shadow: none !important;
        font-size: 14px;
    }
}

.NeedsValidation label {
    font-size: 16px;
    margin-bottom: 0px;
    line-height: 24px;
    color: #666;
}

.InputGroup {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.CustomControl {
    position: relative;
    display: block;
    min-height: 24px;
    padding-left: 24px;
}

.CustomControlInput {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.CustomControlLable::before {
    position: absolute;
    top: 4px;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #dee2e6;
}

.CustomCheckbox .CustomControlLable::before {
    border-radius: 0.25rem;
}

.CustomControlLable {}

.CustomControl label {
    color: #666;
}

.CustomControlLable::after {
    position: absolute;
    top: 0.25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.CustomRadio .CustomControlLable::before {
    border-radius: 50%;
}

.PaymentIcon {
    display: inline-block;
    padding: 10px 0px;
    ul {
        list-style: none;
        li {
            width: 20%;
            float: left;
        }
    }
}

.ImgFuild {
    max-width: 50%;
    height: 50%;
}

.ColRight {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.Media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.MB2 {
    margin-bottom: 0.5rem!important;
}

.BorderBottom {
    border-bottom: 1px solid #dee2e6!important;
}

.MediaBody {
    flex: 1;
}

.TextMuted {
    padding: 10px 0px;
    color: #6c757d!important;
}

.Small {
    font-size: 80%;
    font-weight: 400;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.GrTotal {
    h5 {
        font-weight: 700;
        color: #b0b435;
        font-size: 18px;
        margin: 0px;
        padding: 0px;
        line-height: 35px !important;
    }
    .h5 {
        margin: 0px;
        font-weight: 700;
        line-height: 35px;
        font-size: 20px;
    }
}

.Col12 {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.dflex {
    display: flex!important;
}

.ShoppingBox {
    a {
        font-size: 18px;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        border: 1px solid #000;
    }
}

.MlAuto {
    margin-left: auto;
}

.Hvrhover {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    background: #b0b435;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    box-shadow: none;
    box-sizing: border-box;
}

.Hvrhover:hover {
    cursor: pointer;
    background-color: #000000;
    transition: ease-in 0.3s;
    border: 1px solid #b0b435;
}